{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>길몽</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Stylish&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> -->
    <script lang="text/script">
        function gd1()
        {
            Swal.fire({
                title: '조상 꿈',
                html: '조상 관련 꿈은 꿈에서 조상이 어떤 행색이고<br>어떤 행동을 했는지가 중요합니다.<br><br>조상이 밝고 긍정적인 모습이었다면<br>굉장한 길몽입니다.<br><br>꾸짖거나 부정적 모습이었다면<br>경고가 담긴 꿈이라고 볼 수 있습니다.<br><br>특히 알려준 내용이 생생하다면 그 내용을<br>기억하고 마음 속에 품고 지내는게 좋습니다.<br> <br>특히 조상님이 재물을 주는 꿈,<br>조상님과 식사를 하는 꿈,<br>조상님이 좋은 표정으로 집으로 들어오는 꿈,<br>조상님께 큰 절을 한 꿈,<br>조상님이 칭찬해주는 꿈,<br>조상님이 번호를 알려주는 꿈은<br>매우 매우 좋으니 당장 뛰어가서 복권을 사시길~'
            })
        }

        function gd2()
        {
            Swal.fire({
                title: '똥/쓰레기 꿈',
                html: '똥은 긍정적인 뜻을 많이 내포하고 있습니다.<br><br>똥은 보통 재물을 뜻하기도 하는데<br>똥을 치우는 꿈보다<br>만지고 넘치고 하는 꿈들이<br>굉장한 길몽으로 풀이 됩니다.<br><br>허나 똥 위에 앉는 것은 구설수에<br>오를 수 있다는 뜻이니<br>조심할 필요가 있겠습니다.<br><br>반면 쓰레기는 보통 부정적인 뜻을<br>가지고 있는 경우가 많아 정리하거나<br>버리는 꿈이 매우 좋은 꿈이다.<br><br>특히 똥 무더기에 빠져서 기분 좋게<br>허우적대는 꿈은 로또 사십시옹~'
            })
        }

        function gd3()
        {
            Swal.fire({
                title: '동물 꿈',
                html: '웬만한 동물이 나오는 꿈은 좋다고 보면 됩니다.<br><br>돼지, 호랑이, 뱀, 잉어, 용, 사슴, 학, 소,<br>고양이, 양, 사자 등이 있겠습니다.<br><br>하지만 검은소나 염소 관련 꿈은<br>흉몽으로 해석 되기도 하니 조심조심..!<br><br>길몽의 동물들은 튼튼하고 윤기가나야<br>더욱 좋습니다.<br><br>특히 돼지나 황소 꿈은 행운이 가득하니<br>로또사러 고고~'
            })
        }

        function gd4()
        {
            Swal.fire({
                title: '해/달 꿈',
                html: '해와 달이 나오는 꿈은<br>대체적으로 길몽이라 하곤 합니다.<br><br>해와 달이 높고 빛이 강할수록<br>좋은 기운이 강한 꿈이며<br>날이 맑을 수록 좋습니다.<br>구름이 끼어 잘 안보이거나 날이 흐리다면<br>좋지 않으니 조심하길..!<br><br>특히 하늘 높이 달려 있으며<br>그곳을 향해 하늘로 올라가는 꿈은<br>당장 복권 명당으로 달리세요!'
            })
        }

        function gd5()
        {
            Swal.fire({
                title: '하늘/날씨 꿈',
                html: '보통 날씨는 마음의 상태를 나타낸다고들 합니다.<br><br>꿈 속에서 하늘과 날씨가 맑으면<br>마음 상태가 좋고 컨디션이 좋아<br>현실에서 어떤 일을 하더라도 술술 풀리고<br>자신감이 넘친다는 뜻을 가진답니다.<br><br>날씨는 마지막에 맑은 것이 중요하며<br>날씨가 흐리면 부정적인 기운을 가지지만<br>눈이나 비가 기분 좋게 내린다면<br>오히려 좋을 수 있다는 사실!<br><br>특히 무지개를 본다면<br>행운이 깃들 것이니<br>당장 뛰쳐나가 로또사시어요~'
            })
        }

        function gd6()
        {
            Swal.fire({
                title: '물/불 꿈',
                html: '보통 물과 불이 꿈에 나오면 재수가 좋고<br>금전과 재물 관련 꿈일 가능성이 높습니다.<br><br>불은 강하고 뜨겁게 타야하며<br>물은 보다 맑아야 좋은 꿈입니다.<br>물이 흐리거나 불이 꺼지고 있다면<br>좋지 않은 기운을 가진 꿈이니 조심하시어요.<br><br>특히 집이 활활 타거나<br>정말 기분 좋은 만큼 맑은 물이 흐른다면<br>지금 당장 달려가세요!<br>어디로? 복권사러~'
            })
        }

        function gd7()
        {
            Swal.fire({
                title: '피 꿈',
                html: '피가 꿈에 나온다면 보통 재수가 좋습니다.<br>금전이 관련되지 않더라도 재수가 좋으니<br>무엇이든 도전해보는 것을 추천!!<br>피가 많이면 많을수록 좋으며<br>피의 양이 적거나<br>피가 날 상황에 나지 않는다면<br>풀이가 좋지 않으니 조심조심..!<br>자신이 흉기에 찔리거나 혹은 타인을 찔러도<br>피만 많이 본다면 재물운이 펑펑~~~<br><br>특히 많은 피를 마신다거나<br>엄청 흘려 죽는다?<br>당장 나가서 복권 사세요.'
            })
        }

        function gd8()
        {
            Swal.fire({
                title: '돈 꿈',
                html: '돈에 관한 꿈은 해석이 다양하며<br>좋게도 안좋게도 해몽이 된답니다.<br><br>하지만 대부분 긍정적인 뜻이 강하며<br>재물이나 지폐가 깨끗하고 새것일수록<br>좋은 기운이 강한꿈일 가능성이 큽니다.<br><br>꿈에서 돈은 나에게로 들어와야 좋으며<br>흩어지거나 기분이 안좋은 상태로 세고 있다면<br>그닥 좋지 못하다는 사실..<br><br>특히 새지폐가 가득 생기거나 나에게 쏟아지며<br>나무에 잎이 돈으로 바뀐다면?<br>말해뭐해 당장나가서 사버리세요!'
            })
        }

        function gd9()
        {
            Swal.fire({
                title: '사람 꿈',
                html: '유명인(대통령, 유명인사)<br>예수님, 부처, 선인,<br>죽은사람, 고귀한 사람 등을<br>꿈에서 만난다면 길몽으로 볼 수 있습니다.<br><br>중요한건 만났을 때<br>기분이 좋거나 편해야합니다.<br><br>일반적인 사람이나 지인을 만났다면<br>안색이 밝고 건강한 모습이어야 합니다.<br><br>아기를 낳는 꿈 또한<br>길몽으로 보는데<br>아기의 상태가 건강할수록,<br>낳은 아이의 수가 많을수록<br>좋은기운이 배가 되니 알아두시길!<br><br>특히 이런 사람들과 즐겁게 대화를 나누거나<br>식사를 한다면<br>복권사시는 거 강추강추!'
            })
        }
    </script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5fd0d221751b57df"></script>
</head>
<body>
    <br>
    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <h1 class="display-4" style="font-family: 'Jua', sans-serif;">길몽</h1>
            <br>
            <p class="">
                <strong>꿈은 꿈을 꾼 사람의 처한 상황에 따라 다르게 실현됩니다.<br>
                꿈은 시작보다 마지막이 중요하며,<br> 
                중간보다 끝이 좋아야 길몽으로 본답니다.</strong>
            </p>
        </div>
        <br>
        <div class="addthis_inline_share_toolbox_at8p text-center"></div>
    </div>
    <div>
        <form action="." method="post" style="display: inline;" class="text-center">
            {% csrf_token %}
            <div>
                <div class="dropdown" style="display: inline;">
                    <select name="dr" class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <option value="nc">선택해주세요</option>
                        <option value="gd" selected>길몽</option>
                        <option value="bd">흉몽</option>
                    </select>
                </div>
                <input type="submit" value="확인" class="btn btn-primary" style="display: inline;">
            </div>
        </form>
        <br>
        <div class="text-center">
            <table style="display: inline;">
                <tr>
                    <td><img src="https://postfiles.pstatic.net/MjAyMDExMjZfMTg5/MDAxNjA2NDAyNDAwOTI1.kfnr8JC5RJsyM6WGEZwdiBNZsHVpuohXfuf85fh_siEg.qj8zwNqPzLZODB1sadiTmgbXehRmAujiij5MR77e8L8g.PNG.bxbumsoo/1.png?type=w773" class="card-img-top" style="cursor: pointer; width: 7rem;" onclick="gd1()"></td>
                    <td><img src="https://postfiles.pstatic.net/MjAyMDExMjZfMjgx/MDAxNjA2NDAyNDAwOTI2.gbdvoECUz89qpAB5Xh0HWkZ8NWVfRNIMQATuqiaPxB4g.pG2vMFB3mM_BR0YhD1qNkulRf9fcc6L-b7JajABFzeEg.PNG.bxbumsoo/2.png?type=w773" class="card-img-top" style="cursor: pointer; width: 7rem;" onclick="gd2()"></td>
                    <td><img src="https://postfiles.pstatic.net/MjAyMDExMjZfMTQ2/MDAxNjA2NDAyNDAwOTMw.qZ0jiBg_U9p5F6P4181092lF7dIVLtkfOMRQ3mBxQZYg.crbbb2B4kVmSHJB0ieQCw_kaNcbjgU_OwW5xlNOuSKAg.PNG.bxbumsoo/3.png?type=w773" class="card-img-top" style="cursor: pointer; width: 7rem;" onclick="gd3()"></td>
                </tr>
                <tr>
                    <td><img src="https://postfiles.pstatic.net/MjAyMDExMjZfODYg/MDAxNjA2NDAyNDAwOTMx.YhJzW6hgVr8xJgdqL3gQ27KFKK9W8ST38rg8Moop4U8g.OcNUC-2tJeiYvFlxXCn48cImHgGB63Gq14loWpX9wQ4g.PNG.bxbumsoo/4.png?type=w773" class="card-img-top" style="cursor: pointer; width: 7rem;" onclick="gd4()"></td>
                    <td><img src="https://postfiles.pstatic.net/MjAyMDExMjZfMjc5/MDAxNjA2NDAyNDAwOTMy.kYIEjtpnbyP4bDXkYPhmKv5c_jfUAbpB2SW_XG-A4HIg.ej4m-0wA06EUd3GhAJT6yv8qVeeEmlgGbbKwAZ1mVEMg.PNG.bxbumsoo/5.png?type=w773" class="card-img-top" style="cursor: pointer; width: 7rem;" onclick="gd5()"></td>
                    <td><img src="https://postfiles.pstatic.net/MjAyMDExMjZfMjgg/MDAxNjA2NDAyNDAwOTMz.vZnr8flBoRdYVk0FZK9UgPSc6-zjlc5VC9m627Xpil8g.8dtNkzv1SqpO_10Vf_VazOZx-cZt8PFHqQCBe0cb7YIg.PNG.bxbumsoo/6.png?type=w773" class="card-img-top" style="cursor: pointer; width: 7rem;" onclick="gd6()"></td>
                </tr>
                <tr>
                    <td><img src="https://postfiles.pstatic.net/MjAyMDExMjZfMTc0/MDAxNjA2NDAyNDAxMTE1.2bU1emNWvqtbwRCi-pRONERI1fQ9pHN9hoDY2ncwsekg.krZZYNVpVj-mZW30MRHwwR7ol2peRZBbxfurPB4j-twg.PNG.bxbumsoo/7.png?type=w773" class="card-img-top" style="cursor: pointer; width: 7rem;" onclick="gd7()"></td>
                    <td><img src="https://postfiles.pstatic.net/MjAyMDExMjZfMjAw/MDAxNjA2NDAyNDAxMTE3.oTMsOnv3OCs4kC-e0FjMa4FPYpGusGXBgSmv8JYwat0g.BZmBxgZ0J2XhgV15sGKzGKK2DitEkF4eTHDfZzdLgMkg.PNG.bxbumsoo/8.png?type=w773" class="card-img-top" style="cursor: pointer; width: 7rem;" onclick="gd8()"></td>
                    <td><img src="https://postfiles.pstatic.net/MjAyMDExMjZfMTQg/MDAxNjA2NDAyNDAxMTE3.rm0S03Mw9OfHAOrpCBInnfV4CU_wdcaIyViQgZSPL6Ag.FsS86rQsnQQ5NKDY1f3QWs1GyJE1Em3qKSu3hw1zZjwg.PNG.bxbumsoo/9.png?type=w773" class="card-img-top" style="cursor: pointer; width: 7rem;" onclick="gd9()"></td>
                </tr>
            </table>
        </div>
        <br>
        <div class="drdr1 text-center">
            <button class="btn btn-outline-primary" onclick="location.href='/'">홈으로</button>
        </div>
    </div>
</body>
</html>